.review{
  height: 650px;

  .left-contents{
    height: 95%;
    width: 45%;
    background-color: white;
    margin-top: 15px;
    margin-left: 20px;
    display: inline-block;
    border: solid 3px black;
    border-radius: 2.7em;
    background-color: #bab32c;
    background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
    .left-contents__title{
      font-size: 50px;
      text-align: center;
      border: solid 3px black;
      border-radius: 1em;
      background-color: #f5f5f5;
      background-image: url("https://www.transparenttextures.com/patterns/checkered-pattern.png");
    }
    .left-contents__image{
      height: 75%;
      width: 49%;
      margin-left: 165px;
      margin-top: 25px;
      .left-contents__image__url{
        height: 100%;
        width: 100%;
        background-size: cover;
        border: solid 3px black;
      }
    }
  }

  .right-contents{
    font-size: 30px;
    text-align: center;
    display: inline-block;
    height: 85%;
    width: 45%;
    background-color: #f5f5f5;
    background-image: url("https://www.transparenttextures.com/patterns/checkered-pattern.png");
    border: solid 3px black;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    .right-contents__text{
      border-top: solid 3px black;
      border-bottom: solid 3px black;
      height: 400px;
      width: 100%;  
    }
    .right-contents__label{
      font-size: 25px;
      float: left;
      margin-left: 20px;
      margin-top: 5px;
    }
    .right-contents__rate{
      
    }
    .right-contents__submit{
      height: 50px;
      width: 100px;
      float: right;
      margin-right: 10px;
      margin-bottom: 10px;
      font-size: 20px;
    }
  }

}
